<table class="table table-hover">
    <tr>
        {% set user_new = User.query.filter_by(id=answer.user_id).first() %}
        <td width="70px">
            <a href="{{ url_for('auth.user', user_id=user_new.id) }}">
                <img src="{{ user_new.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('auth.user', user_id=user_new.id) }}">
                {{ user_new.username }}
            </a>
            replies :
            <br>
            {{ answer.body }}
        </td>
        
        <td>
            {% if current_user.id == answer.user_id %}
            <a href="{{ url_for('main.edit_answer', answer_id=answer.id, ques_id=answer.question_id) }}" style="padding-left: 10%;">Edit</a><br>
            <a href="{{ url_for('main.delete_answer', answer_id=answer.id) }}" style="padding-left: 10%;">Delete</a>
            {% endif %}
        </td>
            
    </tr>
    
</table>
