<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('auth.user', user_id=question.author.id) }}">
                <img src="{{ question.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('auth.user', user_id=question.author.id) }}">
                {{ question.author.username }}
            </a>
             ask question :
            <br>
            {{ question.body }}
            <br>
            <a href="{{ url_for('main.answer', ques_id=question.id) }}">Answer</a>
        </td>
        <td>
            {% if current_user.id == question.user_id %}
            <a href="{{ url_for('main.edit_question', ques_id=question.id) }}" style="padding-left: 10%;">Edit</a><br>
            <a href="{{ url_for('main.delete_question', ques_id=question.id) }}" style="padding-left: 10%;">Delete</a>
            {% endif %}
            </td>
            
    </tr>
    
</table>