{% extends "base.html" %}

{% block app_content %}
    <h1>Edit Question</h1> 
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.question.label }}<br>
            {{ form.question(cols=100, rows=5) }}<br>
            {% for error in form.question.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
