{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

{% if form %}
{{ wtf.quick_form(form) }}
{% if question %}
<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('auth.user', user_id=question['question']['author']['id']) }}">
                <img src="{{ question['question']['author']['avatar'] }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('auth.user', user_id=question['question']['author']['id']) }}">
                {{ question['question']['author']['username'] }}
            </a>
             ask question :
            <br>
            <b>{{ question['question']['body'] }}</b>
        </td>
    </tr>
</table>
{% endif %}
    <br>
    {% if answers_json_list  %}
    {% for dict in answers_json_list | reverse %}
    
    <table class="table table-hover">
        <td>
            {% for key, value in dict.items()  %}

            <td width="70px">
                {% if key=="author" %}
                <a href="{{ url_for('auth.user', user_id=value['id']) }}">
                    <img src="{{ value['avatar'] }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('auth.user', user_id=value['id']) }}"> 
                    {{value['username']}}
                </a>
                 Answered :
                 {% elif key == "body" %}
                    {% if value %}
                    {{ value }}
                    {% endif %}
            </td> 
                <td>
                    {% endif %}
                    {% if key == "id" %}
                    <a href="{{ url_for('main.edit_answer', answer_id = value, ques_id=ques_id) }}" style="padding-left: 10%;">Edit</a><br>
                    <a href="{{ url_for('main.delete_answer', answer_id = value) }}" style="padding-left: 10%;">Delete</a>                    
                    {% endif %}
                 </td>
        </td>
        {% endfor %}
        {% endfor %}
        {% endif %}
        {% endif %}
{% endblock %}

