{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% if questions_json_list  %}
    {% for dict in questions_json_list | reverse %}
    
    <table class="table table-hover">
        <td>
            {% for key, value in dict.items()  %}

            <td width="70px">
                {% if key=="user_id" %}
                <a href="{{ url_for('auth.user', user_id=value) }}">
                {% endif %}
                {% if key == "author" %}
                    <img src="{{ value['avatar'] }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('auth.user', user_id=value['id']) }}"> 
                    {{value['username']}}
                </a>
                 ask question :
                 {% elif key == "body" %}
                    {% if value %}
                    {{ value }}
            </td> 
                <td>
                    {% endif %}
                    {% elif key == "id" %}
                    <a href="{{ url_for('main.answer', ques_id=value) }}">Answer</a>
                    
                    {% endif %}
                 </td>
        </td>
        {% endfor %}
        {% endfor %}
        {% endif %}
{% endblock %}