{% extends "base.html" %}

{% block app_content %}
    <h1>Search Results</h1>
    {% for question in questions %}
        {% include '_question.html' %}
    {% endfor %}
    {% for answer in answers %}
        {% include '_answer.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>
                    Previous results
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next results
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

