{% extends "base.html" %}
{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user_data['user']['avatar'] }}"></td>
            <td>
                <h1>User: {{ user_data['user']['username'] }} </h1>
                {% if user_data['user']['about_me'] %}<p>{{ user_data['user']['about_me'] }}</p>{% endif %}
                {% if user_data['user']['id'] == current_user.id %}
                <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% set item = questions|length %}
    {% for index in range(item) %}
    {% for key , value in questions_by_user_id.items() %}
    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('auth.user', user_id=user_data['user']['id']) }}">
                    <img src="{{ user_data['user']['avatar'] }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('auth.user', user_id=user_data['user']['id']) }}">
                    {{ user_data['user']['username'] }}
                </a>
                 ask question:
                <br>
                {{ value[index]['body'] }}
                <br>
               <a href="{{ url_for('main.answer', ques_id=value[index]['id']) }}">Answer</a>
            </td>
            <td>
                {% if value[index]['user_id'] == current_user.id  %}
                <a href="{{ url_for('main.edit_question', ques_id=value[index]['id']) }}" style="padding-left: 10%;">Edit</a><br>
                <a href="{{ url_for('main.delete_question', ques_id=value[index]['id']) }}" style="padding-left: 10%;">Delete</a>
                {% endif %}
                </td>
                {% endfor %}
                {% endfor %}
        </tr>
    
    </table>    
{% endblock %}
